post index 
<% @posts.each do |post| %>
	<p>
		<%= post.content %> by <%= post.user.email %> with <%= post.likes.count %> like(s).
		<% if !post.already_liked?(current_user.id) %>
			<%= form_tag("/likes", method: "post") do %>
				<%= hidden_field_tag(:post_id, post.id) %>
				<%= hidden_field_tag(:user_id, current_user.id) %>
				<%= submit_tag("Like") %>
			<% end %>
		<% end %>
		<br> Comments: 
		<% post.comments.each do |comment| %>
			<%= comment.content %> <br>
		<% end %>
		<p>
			<%= link_to "Add comment", "#{post.id}/comments/new" %>
		</p>
	</p>
<% end %>